textarea.CodeMirror {
  width: 100%;
  resize: none;
}

div.CodeDisplay {
  height: 500px;
  overflow: scroll;
  white-space: nowrap;
}

span.highlight {
    font-weight: bold;
}

span.CodeInfo,
span.CodeInfo > span.code,
span.CodeInfo > span.code > span,
span.ProfileTree,
span.ProfileTree span.level,
span.ProfileTree span.frame,
span.ProfileTree span.frame-c {
    display: block;
}

span.CodeInfo > .ExprNode {
    white-space: pre;
}

span.ProfileTree span.level {
    margin-left: 8px;
}

span.ProfileTree span.frame-c {
    color: aaaaaa;
}
